.header-image-container {
    position: relative;
}
.header-image-container img {
    width: 100%;
}

.quote-container {
    width: 50%;
    position: absolute;
    left: 60px;
    top: 70px;
    max-height: 400px;
    color: white;
}

.slogan {
    font-size: 2em;
    text-align: left;
}

.welcome-information {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}

.welcome-information img {
    margin: 2%;
    margin-top: 25px;
    width: 650px;
    height: 300px;
    object-fit: cover;
    border: 1px solid rgb(50, 58, 52);
    border-radius: 3px;

}

.welcome-information h1 {
    color: rgb(53, 65, 53);
    text-decoration: underline;
    text-align: left;
}

.welcome-information p {
    margin-top: 0%;
    margin-right: 2%;
    text-align: left;
    font-size: 1.2em;
}

.quotes {
    display: flex;
}

.quote {
    border: 1px solid black;
    border-radius: 7px;
    margin: 20px;
    margin-top: 50px;
    padding: 10px;
    background-color: #f9fcd5;
    display: flex;
}

.quote img {
    width: 100px;
    height: 145px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 4px;
}
.quote p {
    margin: 10px;
    font-style: italic;
    text-align: left;
}

/* Making sure quote text is shrinking with screen */
@media only screen and (max-width: 1150px) {
    .slogan {
        font-size: 1.3em;
    }
}
/* Making sure quote text is shrinking with screen */
@media only screen and (max-width: 900px) {
    .slogan {
        font-size: 1em;
    }
}

/* Mobile size */
@media only screen and (max-width: 768px) {
    .slogan {
        font-size: 0.9em;
    }

    .quote-container {
        width: 100%;
        position:static;
        color: rgb(34, 33, 33);
        font-style: italic;
    }

    .slogan {
        font-size: 1em;
        text-align: center;
    }

    .welcome-information {
        flex-direction: column;
        align-items: center;
    }

    .welcome-information h1 {
        margin-top: 0%;
        margin-bottom: 6px;
    }

    .welcome-information img {
        margin-top: 20px;
        /* min-width: 300px; */
        object-fit: fill;
        width: 300px;
        height: 180px;
        order: 2;
    }

    .welcome-information p {
        margin-top: 0%;
        margin-right: 0%;
        margin: 6px;
        text-align: left;
        font-size: 1em;
    }

    .quotes {
        display: flex;
        flex-direction: column;
    }

    .quote {
        flex-direction: column-reverse;
        align-items: center;
        
    }

    .quote img {
        /* width: 50px;
        height: 80px;
        object-fit: cover;
        border: 1px solid black;
        border-radius: 4px; */
        display: none;
    }
}