.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.App-header img, div {
  margin: 10px;
  margin-left: 15px;
}

.main-link-container {
  display: flex;
}

.main-link-container button {
  width: 100px;
}