body {
  background-color: #EAFCD5;
  height: 100%;
}
.App {
  text-align: center;
  font-family: 'Segoe UI';
  height: 100%;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.main-link-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
}

.main-link-container button {
  width: 170px;
  grid-column: auto;
  font-size: 1.2em;
  height: 50px;
  border: 0px;
  background-color: #EAFCD5;
  font-family: 'Segoe UI';
}

.main-link-container button:hover {
  color: #A1DC5D;
  font-weight: bold;
  font-size: 1.3em;
}


/* section {
  width: 100%;
  margin: 0;
  padding: 0;
} */