body {
  background-color: #EAFCD5;
  height: 100%;
}
.App {
  text-align: center;
  font-family: 'Segoe UI';
  height: 100%;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  
}

.main-link-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
}

.main-link-container button {
  width: 170px;
  grid-column: auto;
  font-size: 1.2em;
  height: 50px;
  border: 0px;
  background-color: #EAFCD5;
  font-family: 'Segoe UI';
}

.main-link-container button:hover {
  color: #A1DC5D;
  font-weight: bold;
  font-size: 1.3em;
}

#full {
  margin-top: 60px;
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .App-header {
    flex-direction: column;
    padding-top: 10px;
    margin-bottom: 0px;
  }

  .main-link-container {
    margin-top: 5px;
    width: 100%;
  }

  .main-link-container button {
    border: 1px solid gray;
    width: 100%;
    font-size: 0.8em;
  }

  .main-link-container button:hover {
    background-color: #A1DC5D;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
  }

}